.projects
    margin: 67px auto
    background: url('../img/bg-fon.png') center center no-repeat

button
    border-width: 0
    background-color: $sliderControlBgColor

@media screen and ( max-width: 768px )
    .carousel-control-next, .carousel-control-prev
        opacity: 1
