.schema
    margin: 67px auto
    &-section
        display: flex
        justify-content: center
        align-items: center
        margin-top: 59px
    &-callme
        margin: 65px auto 41px
    &--btn
        margin-bottom: 67px
        text-align: center

.schema-section
    &--title
        text-align: center
    &__block1
        width: 254px
        padding: 30px 45px
        background: $bg-catalog-color
        border-radius: 10px
        cursor: default
    &__block2
        width: 31px
        height: 7px
        background: $bg-catalog-color
    &__block3
        display: flex
        justify-content: center
        align-items: center
        width: 60%
        background: $bg-catalog-color
        border-radius: 10px
        padding: 30px 45px
    &__sub-blocks
        position: relative
        width: 24%
        text-align: center
        stroke: #282828
        &:last-child
            &::after
                display: none
        &::after
            content: ''
            position: absolute
            right: -5%
            top: 49%
            min-width: 20px
            min-height: 2px
            background: $links-color-hover
        &:hover
            stroke: $links-color-hover
            color: $links-color-hover
            stroke-width: 0.1
    &__text
        font-size: 14px
        line-height: 16px
        margin-top: 5px
        cursor: default

@media(max-width: 900px)
    .schema
        margin: 40px auto
    .schema-section
        &__block1
            width: 200px
            padding: 15px 30px
        &__block2
            width: 25px
        &__block3
            width: 80%
            padding: 30px 0
            margin-right: 5px
