<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <!-- слайдер + шаги -->
    {{> header }}

    <!-- о производстве -->
    <!-- {{ production }} -->

    <!-- готовые проекты -->
    <!-- {{ projects }} -->

    <!-- отзывы клиентов -->
    <!-- {{ review }} -->

    <!-- каталог товара -->
    {{> catalog }}

    <!-- схема отгрузки товара -->
    <!-- {{ schema }} -->

    <!-- контакты и карта -->
    {{> footer }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
</body>

</html>