<!-- Каталог товара -->

<section class="catalog container mt-5" id="catalog">

    <h2 class="h3 mb-5"><span class="link-hover">Каталог</span> товара</h2>

    <div class="catalog-items catalog-items--margin">
        <!-- Блок с товаром -->
        <a href="#" class="catalog-items__link" id="catalog-items__link1">
            <div class="catalog-items__block">
                <img src="img/catalog/fasad-decor.png" alt="" class="catalog-items__image" />
                <div class="catalog-items__text">
                    <h4 class="h4">Декор для интерьера</h4>
                    <svg class="catalog-items__svg">
                        <use xlink:href="img/icons.svg#arrow-white"></use>
                    </svg>
                </div>
            </div>
        </a>
        <!-- ./Блок с товаром -->

        <!-- Блок с товаром -->
        <a href="#" class="catalog-items__link" id="catalog-items__link2">
            <div class="catalog-items__block">
                <img src="img/catalog/decor.png" alt="" class="catalog-items__image" />
                <div class="catalog-items__text">
                    <h4 class="h4">Фасадный декор<br>&nbsp;</h4>
                    <svg class="catalog-items__svg">
                        <use xlink:href="img/icons.svg#arrow-white"></use>
                    </svg>
                </div>
            </div>
        </a>
        <!-- ./Блок с товаром -->

        <!-- Блок с товаром -->
        <a href="#" class="catalog-items__link" id="catalog-items__link3">
            <div class="catalog-items__block">
                <img src="img/catalog/item-1.png" alt="" class="catalog-items__image" />
                <div class="catalog-items__text">
                    <h4 class="h4">Стеклофибробетон<br>&nbsp;</h4>
                    <svg class="catalog-items__svg">
                        <use xlink:href="img/icons.svg#arrow-white"></use>
                    </svg>
                </div>
            </div>
        </a>
        <!-- ./Блок с товаром -->

        <!-- Блок с товаром -->
        <a href="#" class="catalog-items__link" id="catalog-items__link4">
            <div class="catalog-items__block">
                <img src="img/catalog/lepnina.png" alt="" class="catalog-items__image" />
                <div class="catalog-items__text">
                    <h4 class="h4">Художественная лепнина</h4>
                    <svg class="catalog-items__svg">
                        <use xlink:href="img/icons.svg#arrow-white"></use>
                    </svg>
                </div>
            </div>
        </a>
        <!-- ./Блок с товаром -->

        <!-- Блок с товаром -->
        <a href="#" class="catalog-items__link" id="catalog-items__link5">
            <div class="catalog-items__block">
                <img src="img/catalog/kamin.png" alt="" class="catalog-items__image" />
                <div class="catalog-items__text">
                    <h4 class="h4">Камины<br />&nbsp;</h4>
                    <svg class="catalog-items__svg">
                        <use xlink:href="img/icons.svg#arrow-white"></use>
                    </svg>
                </div>
            </div>
        </a>
        <!-- ./Блок с товаром -->

        <!-- Блок с товаром -->
        <a href="#" class="catalog-items__link" id="catalog-items__link6">
            <div class="catalog-items__block">
                <img src="img/catalog/ballustrada.png" alt="" class="catalog-items__image" />
                <div class="catalog-items__text">
                    <h4 class="h4">Баллюстрады<br />&nbsp;</h4>
                    <svg class="catalog-items__svg">
                        <use xlink:href="img/icons.svg#arrow-white"></use>
                    </svg>
                </div>
            </div>
        </a>
        <!-- ./Блок с товаром -->
    </div>

    <div class="catalog-email h4">
        отправьте нам свою почту и мы вышлем<br />вам каталог в течении
        <span class="link-hover">30 минут</span>
    </div>

    <div class="catalog-form">
        <form action="#" method="post">
            <input name="email" autocomplete="on" value="" placeholder="Введите e-mail" minlength="6" maxlength="254"
                class="catalog-form__input" required />
            <input type="submit" class="catalog-form__btn" value="Отправить" />
        </form>
    </div>

    <hr class="hr">
</section>