<!-- Реквизиты компании, карта -->
<footer class="footer container mt-4" id="contacts">
    <h2 class="h3 mb-5"><span class="link-hover">О</span> компании</h2>

    <div class="footer-blocks d-flex row w-100">
        <div class="footer-left col-xs-12 col-md-6 col-lg-7">
            <!-- карта -->
            <iframe class="footer__map w-100" src="https://snazzymaps.com/embed/276542"></iframe>
        </div>
        <div class="footer-right col-xs-12 col-md-6 col-lg-5 mt-4 mt-md-0">
            <!-- реквизиты -->
            <p class="p">
                ООО «ПромСтройИнвест»
            </p>
            <p class="p"><span class="link-hover">Р</span>еквизиты</p>
            <p class="p">ИНН 7733355720<br />ОГРН 1207700196241</p>
            <p class="p"><span class="link-hover">А</span>дрес:</p>
            <p class="p">
                127490, г.&nbsp;Москва,<br>
                Юрловский проезд, вл2А
            </p>
            <p class="p"><span class="link-hover">К</span>онтакты:</p>
            <div class="footer-right__contacts">
                <div class="footer-right__block">
                    <!-- Телефон -->
                    <a href="tel:+74993831002" class="footer__link">
                        <svg class="footer-right__svg">
                            <use xlink:href="img/icons.svg#phone"></use>
                        </svg>
                        +7&nbsp;(499)&nbsp;383-10-02</a><br />
                    <!-- Mail -->
                    <a href="mailto:info@fasad-decor-moscow.ru" class="footer__link">
                        <svg class="footer-right__svg">
                            <use xlink:href="img/icons.svg#mail"></use>
                        </svg>
                        info@fasad-decor-moscow.ru
                    </a>
                </div>
                <div class="footer-right__block">
                    <!-- Telegram -->
                    <a href="https://t-do.ru/username" class="footer__link">
                        <svg class="footer-right__svg">
                            <use xlink:href="img/icons.svg#telegram"></use>
                        </svg>
                        Telegram
                    </a>
                    <!-- WhatsApp -->
                    <a href="https://api.whatsapp.com/send?phone=79673676155" class="footer__link1" target="_blank">
                        <svg class="footer-right__svg1">
                            <use xlink:href="img/icons.svg#whatsapp"></use>
                        </svg>
                        Whatsapp
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr class="hr mb-5">

    <div class="footer-bottom mb-5">
        <a href="\" class="footer-bottom__link">&copy; ООО «ПромСтройИнвест», 2021</a>
        <a href="#" class="footer-bottom__link text-sm-start text-lg-end" data-bs-toggle="modal"
            data-bs-target="#modalConf">Политика конфиденциальности</a>
    </div>

    <div class="modal fade" id="modalConf" tabindex="-1" aria-labelledby="modalConfLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalConfLabel">Политика конфиденциальности</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="p">
                        Данная Политика конфиденциальности персональных данных (далее –
                        Политика конфиденциальности) действует в отношении всей информации,
                        которую Неплюев Валерий Владимирович (далее – Общество) может
                        получить о клиенте или партнере во время использования сайта –
                        fasad-decor-moscow.ru. <br /><br />
                        ОСНОВНЫЕ ПОНЯТИЯ<br />
                        В настоящей Политике конфиденциальности используются следующие
                        термины и понятия:<br /><br />
                        <span class="link-hover">«АДМИНИСТРАЦИЯ fasad-decor-moscow.ru</span>
                        (далее – Администрация сайта)» – уполномоченные сотрудники на
                        управления технологической платформы, действующие от имени Общества,
                        которые организуют и (или) осуществляет обработку персональных
                        данных, а также определяет цели обработки персональных данных,
                        состав персональных данных, подлежащих обработке, действия
                        (операции), совершаемые с персональными данными. <br /><br />
                        <span class="link-hover">«ПЕРСОНАЛЬНЫЕ ДАННЫЕ»</span> - любая
                        информация, относящаяся к определенному или определяемому на
                        основании такой информации физическому/юридическому лицу,
                        необходимая Обществу в связи с исполнением им договорных
                        обязательств перед Пользователем/Клиентом. <br /><br />
                        Кроме того к персональным данным относятся данные, которые
                        автоматически передаются Сервисам в процессе их использования с
                        помощью установленного на устройстве Пользователя программного
                        обеспечения, в том числе IP-адрес, информация из cookie, информация
                        о браузере пользователя (или иной программе, с помощью которой
                        осуществляется доступ к Сервисам), время доступа, адрес
                        запрашиваемой страницы и т.п.
                        <br /><br />
                        <span class="link-hover">«ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ»</span> -
                        сбор, систематизация, накопление, хранение, уточнение (обновление,
                        изменение), использование, распространение (в том числе передача),
                        обезличивание, блокирование, уничтожение персональных данных
                        Клиентов. <br /><br />
                        <span class="link-hover">«ПОЛЬЗОВАТЕЛЬ/КЛИЕНТ»</span> – лицо,
                        которое использует сайт в порядке, регламентированном Администрацией
                        сайта. <br /><br />
                        <span class="link-hover">«КОНФИДЕНЦИАЛЬНОСТЬ ПЕРСОНАЛЬНЫХ ДАННЫХ»</span>
                        - обязательное для соблюдения работниками Общества, получившими
                        доступ к персональным данным, требование не допускать
                        распространение персональных данных без согласия Клиента или иного
                        законного основания. <br /><br />
                        <span class="link-hover">ОБЩИЕ ПОЛОЖЕНИЯ</span><br />
                        Использование Пользователем/Клиентом сайта fasad-decor-moscow.ru
                        означает согласие с настоящей Политикой конфиденциальности и
                        условиями обработки персональных данных Пользователя/Клиента.<br />
                        В случае несогласия с условиями Политики конфиденциальности
                        Пользователь/Клиент должен прекратить использование сайта
                        fasad-decor-moscow.ru и материалов размещенных на нем.
                        <br /><br />
                        Пользователь/Клиент при пользовании сайтом fasad-decor-moscow.ru
                        подтверждает, что:<br />
                        - обладает всеми необходимыми правами, позволяющими ему осуществлять
                        регистрацию (создание учетной записи) и/или использовать услуги
                        сайта Brandmaker.ru без создания учетной записи;<br />
                        - указывает достоверную информацию о себе в объемах, необходимых для
                        пользования услугами сайта fasad-decor-moscow.ru, обязательные для
                        заполнения поля для дальнейшего предоставления услуг сайта помечены
                        специальным образом, вся иная информация предоставляется
                        Пользователем/Клиентом по его собственному усмотрению.<br />
                        - осознает, что информация на сайте, размещаемая
                        Пользователем/Клиентом о себе, может становиться доступной для
                        третьих лиц, не оговоренных в настоящей Политике и может быть
                        скопирована и распространена ими;<br />
                        - ознакомлен с настоящей Политикой, выражает свое согласие с ней и
                        принимает на себя указанные в ней права и обязанности. Ознакомление
                        с условиями настоящей Политики, проставление галочки под ссылкой на
                        данную Политику или использование сайта, или отправки данных
                        посредством форм обратной связи на сайте, является письменным
                        согласием Пользователя/Клиента на сбор, хранение, обработку и
                        передачу третьим лицам персональных данных предоставляемых
                        Пользователем/Клиентом.
                        <br /><br />
                        <span class="link-hover">ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</span><br />
                        Настоящая Политика конфиденциальности устанавливает обязательства
                        Администрации сайта по неразглашению и обеспечению режима защиты
                        конфиденциальности персональных данных, которые Пользователь
                        предоставляет по запросу Администрации сайта при заполнении форм
                        обратной связи на сайте fasad-decor-moscow.ru.
                        <br /><br />
                        Персональные данные, разрешённые к обработке в рамках настоящей
                        Политики конфиденциальности, предоставляются Пользователем/Клиентом
                        путём заполнения регистрационной формы на сайте
                        fasad-decor-moscow.ru.<br />
                        Администрация осуществляет сбор статистики об IP-адресах своих
                        пользователей и использует системы мониторинга и сбора статистики
                        типа Google метрика и прочих. Данная информация используется с целью
                        выявления и решения технических проблем, для контроля законности
                        проводимых рекламных компаний и финансовых платежей.
                        <br /><br />
                        <span class="link-hover">ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</span><br />
                        Персональные данные Пользователя/Клиента Администрация сайта
                        fasad-decor-moscow.ru может использовать в целях:<br />
                        Создания учетной записи и дальнейшей аутентификации и предоставления
                        Пользователю/Клиенту доступа к личному кабинету.<br />
                        Установления с Пользователем/Клиентом обратной связи, включая
                        направление уведомлений, запросов, рассылок, смс рассылок,
                        касающихся использования сайта и услуг Общества.<br />
                        Определения места нахождения Пользователя/Клиента для обеспечения
                        безопасности, предотвращения мошенничества.<br />
                        Подтверждения достоверности и полноты персональных данных,
                        предоставленных Пользователем/Клиентом.<br />
                        Предоставления Пользователю/Клиенту эффективной клиентской и
                        технической поддержки при возникновении проблем связанных с
                        использованием сайта.<br />
                        Предоставления Пользователю/Клиенту с его согласия, обновлений
                        сайта/системы, специальных предложений, новостной рассылки и иных
                        сведений от имени сайта.
                        <br /><br />
                        <span class="link-hover">ОБЯЗАТЕЛЬСТВА СТОРОН</span><br />
                        Пользователь/Клиент обязан:<br />
                        Предоставить актуальную информацию о персональных данных,
                        необходимую для пользования сайтом fasad-decor-moscow.ru.<br />
                        Обновить, дополнить предоставленную Обществом информацию о
                        персональных данных в случае изменения данной информации.<br />
                        Администрация сайта обязана:<br />
                        Обеспечить хранение конфиденциальной информации в тайне, не
                        разглашать без предварительного разрешения Пользователя/Клиента.<br />
                        Принимать меры предосторожности для защиты конфиденциальности
                        персональных данных Пользователя/Клиента согласно порядку, обычно
                        используемого для защиты такого рода информации в существующем
                        деловом обороте.
                        <br /><br />
                        <span class="link-hover">ОТВЕТСТВЕННОСТЬ СТОРОН</span><br />
                        В случае утраты или разглашения Конфиденциальной информации
                        Администрация сайта не несёт ответственность, если данная
                        конфиденциальная информация:<br />
                        Стала публичным достоянием до её утраты или разглашения.<br />
                        Была получена от третьей стороны до момента её получения
                        Администрацией сайта.<br />
                        Была разглашена с согласия Пользователя/Клиента или самим
                        Пользователем/Клиентом.
                        <br /><br />
                        <span class="link-hover">РАЗРЕШЕНИЕ СПОРОВ</span><br />
                        До обращения в суд с иском по спорам, возникающим из отношений между
                        Пользователем/Клиентом сайта и Администрацией сайта, обязательным
                        является предъявление претензии (письменного предложения о
                        добровольном урегулировании спора).<br />
                        Получатель претензии в течение 30 календарных дней со дня получения
                        претензии, письменно уведомляет заявителя претензии о результатах
                        рассмотрения претензии.<br />
                        К настоящей Политике конфиденциальности и отношениям между
                        Пользователем/Клиентом и Администрацией сайта применяется
                        действующее законодательство Российской Федерации.
                        <br /><br />
                        <span class="link-hover">ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</span><br />
                        Администрация сайта вправе вносить изменения в настоящую Политику
                        конфиденциальности без согласия Пользователя/Клиента.<br />
                        Новая Политика конфиденциальности вступает в силу с момента ее
                        размещения на сайте, если иное не предусмотрено новой редакцией
                        Политики конфиденциальности.<br />
                        Все предложения или вопросы по настоящей Политике конфиденциальности
                        следует сообщать Администрации Сайта на электронный адрес:
                        info@fasad-decor-moscow.ru
                        <br /><br />
                        <span class="link-hover">СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ</span><br />
                        Обработка персональных данных Пользователя/Клиента осуществляется
                        без ограничения срока, любым законным способом, в том числе в
                        информационных системах персональных данных с использованием средств
                        автоматизации или без использования таких средств.<br />
                        При утрате или разглашении персональных данных Администрация сайта
                        информирует Пользователя/Клиента об утрате или разглашении
                        персональных данных.<br />
                        Администрация сайта принимает необходимые организационные и
                        технические меры для защиты персональной информации
                        Пользователя/Клиента от неправомерного или случайного доступа,
                        уничтожения, изменения, блокирования, копирования, распространения,
                        а также от иных неправомерных действий третьих лиц.<br />
                        Администрация сайта совместно с Пользователем/Клиентом принимает все
                        необходимые меры по предотвращению убытков или иных отрицательных
                        последствий, вызванных утратой или разглашением персональных данных
                        Пользователя/Клиента.<br />
                        В случае не согласия Пользователя/Клиента в получении информации от
                        Общества Пользователь/Клиент может отписаться от рассылки:<br />
                        - кликнув по ссылке «отписаться» внизу письма;<br />
                        - путем направления уведомления на электронную почту
                        info@fasad-decor-moscow.ru<br />
                        При поступлении уведомлений на электронную почту
                        info@fasad-decor-moscow.ru в специальном программном обеспечении для
                        учета действий по соответствующему Пользователю/Клиенту, создается
                        обращение по итогам полученной от Пользователя/Клиента информации.
                        Обращение обрабатывается максимум в течение 48 часов. В результате
                        информация о Пользователе/Клиенте не включается в сегмент рассылок.
                        <br /><br />
                        <span class="link-hover">ПРИЛОЖЕНИЕ №1 К ПОЛИТИКЕ ЗАЩИТЫ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
                            ПОЛЬЗОВАТЕЛЕЙ САЙТА</span>
                        <br /><br />
                        <span class="link-hover">СОГЛАСИЕ ПОЛЬЗОВАТЕЛЯ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</span>
                        <br /><br />
                        Пользователь, оставляя свои данные на Интернет-сайте
                        fasad-decor-moscow.ru, а также заполняя обратную форму с
                        персональными данными, принимает настоящее Соглашение на обработку
                        персональных данных (далее – Согласие). Принятием (акцептом) оферты
                        Согласия является заполнение формы с персональными данными в форме
                        обратной связи на Интернет-сайте по адресу: fasad-decor-moscow.ru.
                        <br /><br />
                        Пользователь дает свое согласие администрации сайта
                        fasad-decor-moscow.ru на обработку своих персональных данных со
                        следующими условиями:
                        <br /><br />
                        Данное Согласие дается на обработку персональных данных, как без
                        использования средств автоматизации, так и с их использованием.<br />
                        Согласие дается на обработку следующих персональных данных
                        Пользователя:<br />
                        Персональные данные, не являющиеся специальными или биометрическими:
                        фамилия, имя, отчество; адрес регистрации и проживания; номера
                        контактных телефонов; адреса электронной почты; сведения об
                        аккаунтах в социальных сетях; сведения об интересах.<br /><br />
                        Цель обработки персональных данных: исполнение договорных
                        обязательств, проведение рекламных кампаний и маркетинговых
                        исследований, в том числе смс и e-mail рассылок, звонков.<br />
                        Основанием для обработки персональных данных являются: Ст. 24
                        Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ
                        «О персональных данных».<br /><br />
                        В ходе обработки с персональными данными будут совершены следующие
                        действия: сбор; запись; систематизация; накопление; хранение;
                        уточнение (обновление, изменение); извлечение; использование;
                        передачу (распространение, предоставление, доступ); обезличивание;
                        блокирование; удаление; уничтожение.<br /><br />
                        Передача персональных данных третьим лицам осуществляется на
                        основании законодательства Российской Федерации, договора с участием
                        субъекта персональных данных или с согласия субъекта персональных
                        данных. Пользователь дает свое согласие на возможную передачу своих
                        персональных данных третьим лицам.<br /><br />
                        Персональные данные обрабатываются до окончания обработки. Так же
                        обработка персональных данных может быть прекращена по запросу
                        субъекта персональных данных.<br />
                        Согласие дается, в том числе на возможную трансграничную передачу
                        персональных данных и информационные (рекламные) оповещения.<br />
                        Согласие может быть отозвано субъектом персональных данных или его
                        представителем, путем направления письменного заявления
                        администрации сайта или ее представителю по адресу, указанному в
                        начале данного Согласия.<br /><br />
                        В случае отзыва субъектом персональных данных или его представителем
                        согласия на обработку персональных данных администрация сайта вправе
                        продолжить обработку персональных данных без согласия субъекта
                        персональных данных при наличии оснований, указанных в пунктах 2 –
                        11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11
                        Федерального закона №152-ФЗ «О персональных данных» от 26.06.2006 г.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</footer>