<!-- modal #callme -->
<div class="modal fade" id="callme" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть">&times;</button>
            </div>
            <div class="modal-body row">
                <div class="modal-body__left col-12 col-lg-6">
                    <!-- левая часть -->
                    <img class="modal-body__img" src="img/modal/operator.jpg" alt="">
                </div>
                <div class="modal-body__right col-12 col-lg-6 pt-xl-3">
                    <!-- правая часть -->
                    <h2 class="h5"><span class="link-hover">закажите</span> обратный звонок - перезвоним!
                    </h2>
                    <form action="#" method="post" class="popup-form">
                        <input class="form__input popup-form--input" type="text" name="client-name"
                            placeholder="Ваше имя" minlength="3" maxlength="128" required />
                        <input class="form__input popup-form--input" type="tel" name="client-phone"
                            placeholder="Телефон для связи" minlength="6" maxlength="30" required />
                        <a href="#" class="btn1 btn1--popup mt-md-2 mt-xl-3">Заказать звонок</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>