<!-- modal #callme -->
<div class="modal fade" id="callme" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть">&times;</button>
            </div>
            <div class="modal-body row">
                <div class="modal-body__left col-12 col-lg-6">
                    <!-- левая часть -->
                    <img class="modal-body__img" src="img/modal/operator.jpg" alt="">
                </div>
                <div class="modal-body__right col-12 col-lg-6 pt-xl-3">
                    <!-- правая часть -->
                    <h2 class="h5"><span class="link-hover">закажите</span> обратный звонок - перезвоним!
                    </h2>
                    <form id="popup-form-tel" class="popup-form"
                        action="https://fasad-decor-moscow.ru/php-mail/mail.php" method="POST">
                        <input class="form__input popup-form--input" type="text" data-validate-field="cname"
                            name="client-name" placeholder="Ваше имя" minlength="3" maxlength="128" required />
                        <input class="form__input popup-form--input" type="tel" name="client-phone"
                            data-validate-field="tel" placeholder="Телефон для связи" minlength="6" maxlength="30"
                            required />
                        <input type="submit" class="btn1 btn1--popup mt-md-2 mt-xl-3" value="Заказать звонок"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal #callme-cat -->
<div class="modal fade" id="callme-cat" tabindex="-1" aria-hidden="true">
    <form id="popup-form-catalog" class="popup-form" action="https://fasad-decor-moscow.ru/php-mail/mail.php"
        method="POST">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body modal-body--cat row">
                    <!-- <div class="modal-header modal-header--cat">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Закрыть">&times;</button>
                    </div> -->
                    <div class="modal-body__left col-12 col-lg-6">
                        <!-- левая часть -->
                        <img class="modal-body__img" src="img/modal/operator.jpg" alt="">
                    </div>
                    <div class="modal-body__right col-12 col-lg-6 pt-xl-3">
                        <!-- правая часть -->
                        <h2 class="h5 mb-3"><span class="link-hover">закажите</span> каталог товаров. Консультация
                            бесплатна!
                        </h2>
                        <input class="form__input popup-form--input" type="text" data-validate-field="cname"
                            name="client-name" placeholder="Ваше имя" minlength="3" maxlength="128" required />
                        <input class="form__input popup-form--input" type="tel" name="client-phone"
                            data-validate-field="tel" placeholder="Телефон для связи" minlength="6" maxlength="30"
                            required />
                        <input id="callme-cat-email" class="form__input popup-form--input" type="email"
                            data-validate-field="email" name="client-email" placeholder="e-mail" minlength="6"
                            maxlength="255" required />
                    </div>
                </div>
                <div class="modal-footer modal-footer--cat">
                    <input type="submit" class="btn1 btn1--popup btn1--popup-cat mt-sm-1 mt-md-2 mt-xl-3"
                        value="Заказать каталог"></input>
                    <a href="#" class="btn1 btn1--popup btn1--popup-cat mt-sm-1 mt-md-2 mt-xl-3"
                        data-bs-dismiss="modal">Закрыть</a>
                </div>
    </form>
</div>