<section class="production container mt-5" id="production">
    <h2 class="h3 mb-5"><span class="link-hover">О</span> компании</h2>

    <div class="production-hover">
        <div class="row">
            <div class="col p-3">
                ООО «ПромСтройИнвест» специализируется на изготовлении архитектурно-декоративных элементов
                <span class="link-hover">любой сложности</span>
                для фасадов, внутренней отделки и реставрации зданий. Всё то,
                что делает здание узнаваемым, не похожим на другие дома:
                колонны, балюстрады, карнизы, обрамление окон и дверей, угловые
                элементы, русты, камни замковые, пилястры, балясины, кронштейны,
                3D фигуры.<br><br>
                Занимаемся проектированием, изготовлением и монтажом декоративных
                элементов с 2007 года!<br>
                Успешно реализовали несколько десятков строительных проектов, внедрили множество
                инновационных решений и наработали колоссальный опыт в сфере фасадного декора.<br><br>
                В нашей практике есть объекты, которые простояли два гарантийных срока! А срок нашей гарантии 5 лет!
                <br><br>
            </div>
        </div>
        <div class="production-content__block1 row">
            <img src="img/production/production-gallery_1.jpg" class="production-content__img1 col-xs-12 col-xl-6"
                alt="">
            <div class="production-content__text1 col-xs-12 col-xl-6">
                Производим фасадный декор из таких материалов как:<br>
                <ol>
                    <li>Пенополистирол армированный стеклосеткой с клеевым составом, по системе
                        CERESIT.</li>
                    <li>Архитектурный бетон.</li>
                    <li>Гипс.</li>
                    <li>Искусственный камень (полимерный композит).</li>
                    <li>Бронза (литье).</li>
                </ol>
                Все вышеперечисленные материалы имеют свои плюсы и минусы, поэтому наши
                менеджеры подберут для Вас, то что нужно Вам.
            </div>
        </div>

        <div class="production-content__block2 row">
            <div class="production-content__text2 col-xs-12 col-xl-6">
                <span class="link-hover">Производство элементов</span> состоит
                из нескольких этапов:<br /><br />
                <ol>
                    <li>Создание проекта согласно техническому заданию.</li>
                    <li>Согласование сроков и хода работ.</li>
                    <li>Изготовление декоративных элементов:
                        <ul>
                            <li>по технологии Сapstone (архитектурный камень);</li>
                            <li>изделий из гипса (в т.ч. художественная лепнина);</li>
                            <li>искусственный камень (полимербетон);</li>
                            <li>из пенопласта, пенополистерола с защитным напылением (армирование).</li>
                        </ul>
                    </li>
                    <li>Доставка на объект.</li>
                </ol>
                <br>
            </div>

            <div class="col-xs-12 col-xl-6">
                <img class="production-content__img2" src="img/production/production-gallery_2.jpg" alt="">
            </div>
        </div>
        <!-- Скрытый блок, открывается по клику -->
        <div class="production-content__block3">
            <div class="production-slider">
                <img src="img/production/production-gallery-1.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-2.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-3.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-4.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-5.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-6.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-7.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-8.jpg" alt="" class="production-slider__img">
            </div>
        </div>
        <!-- ./Скрытый блок, открывается по клику -->
    </div>
    </div>

    <div class="production-button">
        <a href="#" class="btn2 extremum-click">Подробнее
            <svg class="production-button__svg">
                <use xlink:href="img/icons.svg#arrow-down"></use>
            </svg>
        </a>
    </div>

    <hr class="hr">
</section>