<section class="production container mt-5" id="production">
    <h2 class="h3 mb-5"><span class="link-hover">О</span> производстве</h2>

    <div class="production-hover">
        <div class="row">
            <div class="col">
                Наша компания занимается проектированием, изготовлением и монтажом декоративных
                элементов с 2007 года.<br>
                За это время было реализовано много интересных проектов, воплощено множество
                инновационных решений и наработан колоссальный опыт в сфере фасадного декора.<br>
                Оглядываясь назад мы понимаем с чем нам идти вперед!<br>
                Спектр наших услуг, ограничен Вашей фантазией!<br>
                Мы производим фасадный декор из таких материалов как:<br>
                1. Пенополистирол армированный стеклосеткой с клеевым составом, по системе
                CERESIT
                2. Архитектурный бетон
                3. Гипс
                4. Искусственный камень (полимерный композит)
                5. Бронза (литье)
                Все вышеперечисленные материалы имеют свои плюсы и минусы, поэтому наши
                менеджеры подберут для Вас, то что нужно Вам. И Вы получите результат, который будет
                радовать Вас долгие годы. В нашей практике есть объекты, которые простояли два
                гарантийных срока! А срок нашей гарантии 5 лет! И нам не стыдно их показывать нашим
                будущим Клиентам!
            </div>
        </div>
        <div class="production-content__block1 row">
            <img src="img/production/production-gallery_1.jpg" class="production-content__img1 col-xs-12 col-xl-6"
                alt="">
            <div class="production-content__text1 col-xs-12 col-xl-6">
                Основным направлением деятельности компании ООО
                «ПромСтройИнвест» является изготовление
                архитектурно-декоративных элементов
                <span class="link-hover">любой сложности</span>
                для фасадов, внутренней отделки и реставрации зданий. Всё то,
                что делает здание узнаваемым, не похожим на другие дома:
                колонны, балюстрады, карнизы, обрамление окон и дверей, угловые
                элементы, русты, камни замковые, пилястры, балясины, кронштейны,
                3D фигуры.
            </div>
        </div>
        <div class="production-content__block2 row">
            <div class="production-content__text2 col-xs-12 col-xl-6">
                <span class="link-hover">Производство элементов</span> состоит
                из нескольких этапов:<br /><br />
                1) Создание проекта согласно чертежей или сметной
                документации.<br />
                2) Фигурная 3D резка на станке с ЧПУ.<br />
                3) Элементы покрываются прочным и эластичным композитным
                покрытием, не впитывающим влагу, что предотвращает появление
                трещин.<br />
                4) Сушка элементов фасадного декора в течении нескольких
                дней.<br /><br />
                Декоративные изделия подвергаются покраске
                после окончательного монтажа на фасаде дома и в конечном виде
                ничем не отличаются по текстуре от основы фасада.
            </div>
            <div class="col-xs-12 col-xl-6">
                <img class="production-content__img2" src="img/production/production-gallery_2.jpg" alt="">
            </div>
        </div>
        <!-- Скрытый блок, открывается по клику -->
        <div class="production-content__block3">
            <div class="production-slider">
                <img src="img/production/production-gallery-1.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-2.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-3.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-4.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-5.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-6.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-7.jpg" alt="" class="production-slider__img">
                <img src="img/production/production-gallery-8.jpg" alt="" class="production-slider__img">
            </div>
        </div>
        <!-- ./Скрытый блок, открывается по клику -->
    </div>
    </div>

    <div class="production-button">
        <a href="#" class="btn2 extremum-click">Подробнее
            <svg class="production-button__svg">
                <use xlink:href="img/icons.svg#arrow-down"></use>
            </svg>
        </a>
    </div>

    <hr class="hr">
</section>