<section class="production container mt-5" id="production">
    <h2 class="h3 mb-5"><span class="link-hover">О</span> компании</h2>

    <div class="production-hover">
        <div class="row">
            <div class="col p-3">
                ООО «ПромСтройИнвест» специализируется на изготовлении архитектурно-декоративных элементов
                <span class="link-hover">любой сложности</span>
                для фасадов, внутренней отделки и реставрации зданий. Всё то,
                что делает здание узнаваемым, не похожим на другие дома:
                колонны, балюстрады, карнизы, обрамление окон и дверей, угловые
                элементы, русты, камни замковые, пилястры, балясины, кронштейны,
                3D фигуры.<br><br>
                Занимаемся проектированием, изготовлением и монтажом декоративных
                элементов с 2007 года!<br>
                Успешно реализовали несколько десятков строительных проектов, внедрили множество
                инновационных решений и наработали колоссальный опыт в сфере фасадного декора.<br><br>
                В нашей практике есть объекты, которые простояли два гарантийных срока! А срок нашей гарантии 5 лет!
                <br><br>
            </div>
        </div>
        <div class="production-content__block1 row">
            <img src="img/production/production-gallery_1.jpg" class="production-content__img1 col-xs-12 col-xl-6"
                alt="">
            <div class="production-content__text1 col-xs-12 col-xl-6">
                Производим фасадный декор из таких материалов как:<br>
                <ol>
                    <li>Пенополистирол армированный стеклосеткой с клеевым составом, по системе
                        CERESIT.</li>
                    <li>Архитектурный бетон.</li>
                    <li>Гипс.</li>
                    <li>Искусственный камень (полимерный композит).</li>
                    <li>Бронза (литье).</li>
                </ol>
                Все вышеперечисленные материалы имеют свои плюсы и минусы, поэтому наши
                менеджеры подберут для Вас, то что нужно Вам.
            </div>
        </div>

        <div class="production-content__block2 row">
            <div class="production-content__text2 col-xs-12 col-xl-6">
                <span class="link-hover">Производство элементов</span> состоит
                из нескольких этапов:<br /><br />
                <ol>
                    <li>Создание проекта согласно техническому заданию.</li>
                    <li>Согласование сроков и хода работ.</li>
                    <li>Изготовление декоративных элементов:
                        <ul>
                            <li>по технологии Сast Stone (архитектурный камень);</li>
                            <li>изделий из гипса (в т.ч. художественная лепнина);</li>
                            <li>искусственный камень (полимербетон);</li>
                            <li>из пенопласта, пенополистерола с защитным напылением (армирование).</li>
                        </ul>
                    </li>
                    <li>Доставка на объект.</li>
                </ol>
                <br>
            </div>

            <div class="col-xs-12 col-xl-6">
                <img class="production-content__img2" src="img/production/production-gallery_2.jpg" alt="">
            </div>
        </div>
        <!-- Скрытый блок, открывается по клику -->
        <div class="production-content__block3">
            <div class="production-slider">
                <!-- слайдер 1 -->
                <div id="production-slider1" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/production/5/production-gallery-21.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/5/production-gallery-22.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/5/production-gallery-23.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/5/production-gallery-24.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/5/production-gallery-25.jpg" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#production-slider1"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущая</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#production-slider1"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующая</span>
                    </button>
                </div>
                <!-- // слайдер 1 -->
                <br>
                <!-- слайдер 2 -->
                <div id="production-slider2" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/production/4/production-gallery-16.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/4/production-gallery-17.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/4/production-gallery-18.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/4/production-gallery-19.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/4/production-gallery-20.jpg" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#production-slider2"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущая</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#production-slider2"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующая</span>
                    </button>
                </div>
                <!-- // слайдер 2 -->
                <br>
                <!-- слайдер 3 -->
                <div id="production-slider3" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/production/3/production-gallery-10.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/3/production-gallery-11.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/3/production-gallery-12.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/3/production-gallery-13.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/3/production-gallery-14.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/3/production-gallery-15.jpg" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#production-slider3"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущая</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#production-slider3"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующая</span>
                    </button>
                </div>
                <!-- // слайдер 3 -->
                <br>
                <!-- слайдер 4 -->
                <div id="production-slider4" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/production/2/production-gallery-6.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/2/production-gallery-7.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/2/production-gallery-8.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/2/production-gallery-9.jpg" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#production-slider4"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущая</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#production-slider4"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующая</span>
                    </button>
                </div>
                <!-- // слайдер 4 -->
                <br>
                <!-- слайдер 5 -->
                <div id="production-slider5" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/production/1/production-gallery-1.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/1/production-gallery-2.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/1/production-gallery-3.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/1/production-gallery-4.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/production/1/production-gallery-5.jpg" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#production-slider5"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущая</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#production-slider5"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующая</span>
                    </button>
                </div>
                <!-- // слайдер 5 -->
            </div>
        </div>
        <!-- ./Скрытый блок, открывается по клику -->
    </div>
    </div>

    <div class="production-button">
        <a href="#" class="btn2 extremum-click">Подробнее
            <svg class="production-button__svg">
                <use xlink:href="img/icons.svg#arrow-down"></use>
            </svg>
        </a>
    </div>

    <hr class="hr">
</section>