<!-- Выполненные проекты -->
<section class="projects container mt-5" id="projects">
    <h2 class="h3 mb-5">Выполненные <span class="link-hover">проекты</span></h2>

    <!-- (4 слайда выполненных работ) -->
    <div class="projects-nav">
        <img src="img/projects/foto-preview.jpg" alt="" class="projects-nav__img" id="projects-nav__img1" />
        <img src="img/projects/foto-preview.jpg" alt="" class="projects-nav__img" id="projects-nav__img2" />
        <img src="img/projects/foto-preview.jpg" alt="" class="projects-nav__img" id="projects-nav__img3" />
        <img src="img/projects/foto-preview.jpg" alt="" class="projects-nav__img" id="projects-nav__img4" />
        <!-- ./(4 слайда выполненных работ) -->
    </div>

    <div class="projects-content">
        <ul class="projects-content-list">
            <li class="projects-content-list__item projects-content-list__item-visible"
                id="projects-content-list__item1">
                <img src="img/projects/foto-main.jpg" alt="" class="projects-content__img" />
                <div class="projects-content__block">
                    <div class="p-text projects-content__text">
                        Слайд 1. Теплоизоляционные свойства стен как зданий старой,
                        так и новой постройки не всегда удовлетворяют пожеланиям
                        жильцов. Исправить ситуацию помогут панели из легкого
                        материала, выпускаемого в виде плит - пенополистирола.
                        Получаемый путем вспенивания, он представляет собой
                        спрессованные в плиты пустотелые гранулы полистирола и на 95%
                        состоит из воздуха. Теплоизоляционные свойства стен как зданий
                        старой, так и новой постройки не всегда удовлетворяют
                        пожеланиям жильцов. Исправить ситуацию помогут панели из
                        легкого материала, выпускаемого в виде плит - пенополистирола.
                        Исправить ситуацию помогут панели из легкого пенопласта.
                        Теплоизоляционные свойства стен как зданий старой, так и новой
                        постройки не всегда удовлетворяют пожеланиям жильцов.
                        Исправить ситуацию помогут панели из легкого материала,
                        выпускаемого в виде плит - пенополистирола.
                    </div>
                </div>
            </li>
            <li class="projects-content-list__item" id="projects-content-list__item2">
                <img src="img/projects/foto-main.jpg" alt="" class="projects-content__img" />
                <div class="projects-content__block">
                    <div class="p-text projects-content__text">
                        Слайд 2. Теплоизоляционные свойства стен как зданий старой,
                        так и новой постройки не всегда удовлетворяют пожеланиям
                        жильцов. Исправить ситуацию помогут панели из легкого
                        материала, выпускаемого в виде плит - пенополистирола.
                        Получаемый путем вспенивания, он представляет собой
                        спрессованные в плиты пустотелые гранулы полистирола и на 95%
                        состоит из воздуха. Теплоизоляционные свойства стен как зданий
                        старой, так и новой постройки не всегда удовлетворяют
                        пожеланиям жильцов. Исправить ситуацию помогут панели из
                        легкого материала, выпускаемого в виде плит - пенополистирола.
                        Исправить ситуацию помогут панели из легкого пенопласта.
                        Теплоизоляционные свойства стен как зданий старой, так и новой
                        постройки не всегда удовлетворяют пожеланиям жильцов.
                        Исправить ситуацию помогут панели из легкого материала,
                        выпускаемого в виде плит - пенополистирола.
                    </div>
                </div>
            </li>
            <li class="projects-content-list__item" id="projects-content-list__item3">
                <img src="img/projects/foto-main.jpg" alt="" class="projects-content__img" />
                <div class="projects-content__block">
                    <div class="p-text projects-content__text">
                        Слайд 3. Теплоизоляционные свойства стен как зданий старой,
                        так и новой постройки не всегда удовлетворяют пожеланиям
                        жильцов. Исправить ситуацию помогут панели из легкого
                        материала, выпускаемого в виде плит - пенополистирола.
                        Получаемый путем вспенивания, он представляет собой
                        спрессованные в плиты пустотелые гранулы полистирола и на 95%
                        состоит из воздуха. Теплоизоляционные свойства стен как зданий
                        старой, так и новой постройки не всегда удовлетворяют
                        пожеланиям жильцов. Исправить ситуацию помогут панели из
                        легкого материала, выпускаемого в виде плит - пенополистирола.
                        Исправить ситуацию помогут панели из легкого пенопласта.
                        Теплоизоляционные свойства стен как зданий старой, так и новой
                        постройки не всегда удовлетворяют пожеланиям жильцов.
                        Исправить ситуацию помогут панели из легкого материала,
                        выпускаемого в виде плит - пенополистирола.
                    </div>
                </div>
            </li>
            <li class="projects-content-list__item" id="projects-content-list__item4">
                <img src="img/projects/foto-main.jpg" alt="" class="projects-content__img" />
                <div class="projects-content__block">
                    <div class="p-text projects-content__text">
                        Слайд 4. Теплоизоляционные свойства стен как зданий старой,
                        так и новой постройки не всегда удовлетворяют пожеланиям
                        жильцов. Исправить ситуацию помогут панели из легкого
                        материала, выпускаемого в виде плит - пенополистирола.
                        Получаемый путем вспенивания, он представляет собой
                        спрессованные в плиты пустотелые гранулы полистирола и на 95%
                        состоит из воздуха. Теплоизоляционные свойства стен как зданий
                        старой, так и новой постройки не всегда удовлетворяют
                        пожеланиям жильцов. Исправить ситуацию помогут панели из
                        легкого материала, выпускаемого в виде плит - пенополистирола.
                        Исправить ситуацию помогут панели из легкого пенопласта.
                        Теплоизоляционные свойства стен как зданий старой, так и новой
                        постройки не всегда удовлетворяют пожеланиям жильцов.
                        Исправить ситуацию помогут панели из легкого материала,
                        выпускаемого в виде плит - пенополистирола.
                    </div>
                </div>
            </li>
        </ul>
        <!-- ./выполненные работы содержимое -->
    </div>


    <hr class="hr">
</section>