<!-- Выполненные проекты -->
<section class="projects container mt-5" id="projects">
    <h2 class="h3 mb-5">Выполненные <span class="link-hover">проекты</span></h2>


    <!-- Слайдер 1 -->
    <h4 class="h4">Апрелевка парк</h4>
    <div id="projects-slider1" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/projects/aprelevka/a1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/aprelevka/a2.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/aprelevka/a3.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/aprelevka/a4.jpg" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projects-slider1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущая</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projects-slider1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующая</span>
        </button>
    </div>
    <!-- / Слайдер 1 -->

    <!-- Слайдер 2 -->
    <br><br>
    <h4 class="h4">Барвиха</h4>
    <div id="projects-slider2" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/projects/barviha/b1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/barviha/b2.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/barviha/b3.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/barviha/b4.jpg" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projects-slider2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущая</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projects-slider2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующая</span>
        </button>
    </div>
    <!-- / Слайдер 2 -->

    <!-- Слайдер 3 -->
    <br><br>
    <h4 class="h4">Воскресенское</h4>
    <div id="projects-slider3" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/projects/grigor/g1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/grigor/g2.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/grigor/g3.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/grigor/g4.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/grigor/g5.jpg" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projects-slider3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущая</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projects-slider3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующая</span>
        </button>
    </div>
    <!-- / Слайдер 3 -->

    <!-- Слайдер 4 -->
    <br><br>
    <h4 class="h4">Новая деревня</h4>
    <div id="projects-slider4" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/projects/newvillage/nd1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/newvillage/nd2.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/newvillage/nd3.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/newvillage/nd4.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/newvillage/nd5.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/newvillage/nd6.jpg" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projects-slider4" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущая</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projects-slider4" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующая</span>
        </button>
    </div>
    <!-- / Слайдер 4 -->

    <!-- Слайдер 5 -->
    <br><br>
    <h4 class="h4">Новинки</h4>
    <div id="projects-slider5" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/projects/novinki/n1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/novinki/n2.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/novinki/n3.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/novinki/n4.jpg" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projects-slider5" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущая</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projects-slider5" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующая</span>
        </button>
    </div>
    <!-- / Слайдер 5 -->

    <!-- Слайдер 6 -->
    <br><br>
    <h4 class="h4">Чехов</h4>
    <div id="projects-slider6" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/projects/podlipny/p1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/podlipny/p2.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/podlipny/p3.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/podlipny/p4.jpg" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projects-slider6" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущая</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projects-slider6" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующая</span>
        </button>
    </div>
    <!-- / Слайдер 6 -->

    <!-- Слайдер 7 -->
    <br><br>
    <h4 class="h4">Дмитровка</h4>
    <div id="projects-slider7" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/projects/poverenova/o1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/poverenova/o2.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/poverenova/o3.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="img/projects/poverenova/o4.jpg" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projects-slider7" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущая</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projects-slider7" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующая</span>
        </button>
    </div>
    <br><br>
    <!-- / Слайдер 7 -->

    <hr class="hr">
</section>