<!-- Схема заказа -->

<section class="schema container mt-5">
    <h2 class="h3 mb-5">
        <span class="link-hover">Как</span> происходит заказ
    </h2>

    <div class="schema-section">
        <!-- 1 контейнер верх -->
        <div class="schema-section__block1">
            <!-- 1 контейнер блок 1 -->
            <p class="h4">
                по готовому <span class="link-hover">3D</span> проекту
            </p>
        </div>
        <div class="schema-section__block2">
            <!-- 1 конт. блок 2 -->
        </div>
        <div class="schema-section__block3">
            <!-- 1 контейнер блок 3 -->
            <div class="schema-section__sub-blocks">
                <svg width="31" height="32">
                    <use xlink:href="img/schema-icons.svg#icon-1"></use>
                </svg>
                <div class="schema-section__text">проведение<br />расчетов</div>
            </div>

            <div class="schema-section__sub-blocks">
                <svg width="39" height="30">
                    <use xlink:href="img/schema-icons.svg#icon-2"></use>
                </svg>
                <div class="schema-section__text">составление<br />сметы</div>
            </div>

            <div class="schema-section__sub-blocks">
                <svg width="31" height="30">
                    <use xlink:href="img/schema-icons.svg#icon-3"></use>
                </svg>
                <div class="schema-section__text">согласование<br />проекта</div>
            </div>

            <div class="schema-section__sub-blocks">
                <svg width="30" height="30">
                    <use xlink:href="img/schema-icons.svg#icon-4"></use>
                </svg>
                <div class="schema-section__text">реализация</div>
            </div>
        </div>
    </div>

    <div class="schema-section">
        <!-- 2 контейнер верх -->
        <div class="schema-section__block1">
            <!-- 2 контейнер блок 1 -->
            <p class="h4 schema-section--title">под ключ</p>
        </div>
        <div class="schema-section__block2">
            <!-- 2 конт. блок 2 -->
        </div>
        <div class="schema-section__block3">
            <!-- 2 контейнер блок 3 -->
            <div class="schema-section__sub-blocks">
                <svg width="31" height="30">
                    <use xlink:href="img/schema-icons.svg#icon-5"></use>
                </svg>
                <div class="schema-section__text">
                    выезд замерщика<br />с образцами
                </div>
            </div>

            <div class="schema-section__sub-blocks">
                <svg width="30" height="30">
                    <use xlink:href="img/schema-icons.svg#icon-6"></use>
                </svg>
                <div class="schema-section__text">3D визуализация</div>
            </div>

            <div class="schema-section__sub-blocks">
                <svg width="23" height="30">
                    <use xlink:href="img/schema-icons.svg#icon-7"></use>
                </svg>
                <div class="schema-section__text">
                    коммерческое<br />предложение
                </div>
            </div>

            <div class="schema-section__sub-blocks">
                <svg width="28" height="30">
                    <use xlink:href="img/schema-icons.svg#icon-8"></use>
                </svg>
                <div class="schema-section__text">монтаж</div>
            </div>
        </div>
    </div>

    <div class="schema-callme h4 schema-section--title">
        Вы можете <span class="link-hover">заказать</span> выезд замерщика<br />на
        объект прямо сейчас!
    </div>

    <div class="schema--btn">
        <a href="#" id="callback-btn1" class="btn1">Заказать обратный звонок</a>
    </div>

    <hr class="hr mb-5 mt-5">
</section>